/* thẻ p xuất hiện đầu tiên trong thẻ cha */
/* p:first-of-type{
    color: red;
    font-size: 30px;
} */
/* Thẻ p xuất hiện cuối cùng trong thẻ cha */
/* p:last-of-type{
    color: Blue;
    font-size: 30px;
} */
/* Thẻ p xuất hiện thứ n trong thẻ cha  */
p:nth-of-type(2){
    color:blueviolet;
    font-size: 30px;
}
p:nth-child(2){
    color:blanchedalmond;
    font-size: 30px;
}
/* Thẻ p xuất hiện thứ n trong thẻ cha, tính từ cuối lên */
/* p:nth-last-of-type(2){
    color:brown;
    font-size: 30px;
} */
/* Thẻ p xuất hiện duy nhất trong thẻ cha */
p:only-of-type{
    color:aquamarine;
    font-size: 30px;
}
p:only-of-type{
    color:chocolate;
    font-size:30px;
}
p:hover{
    color:cadetblue;
    font-size: 40px;
}